<ul id="emailAddressesList" data-filters="<%= URI.encode({"application-id":application_id, "owner-type":"profiles", "owner-id":@profile.resource_id}.to_json) %>" data-type="email-addresses" class="border border-gray-200 rounded-md divide-y divide-gray-200">
</ul>

<script id="emailAddressesTemplate" type="x-tmpl-mustache">
    {{#data.0}}
    {{#data}}
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
        <div class="w-0 flex-1 flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path></svg>
            <span class="ml-2 flex-1 w-0 truncate">
              {{attributes.street1}}
            </span>
        </div>
    </li>
    {{/data}}
    {{/data.0}}
    {{^data.0}}
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
        <div class="w-0 flex-1 flex items-center">
            <span class="text-center ml-2 flex-1 w-0 truncate">
              No Email Addresses for this profile yet. Add one.
            </span>
        </div>
    </li>
    {{/data.0}}
</script>